body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 96px;
    margin-bottom: 20px;
}

p {
    font-size: 96px;
    margin-top: 250px;
}

img {
    width: 100px;
    margin: 50px auto;
    display: block;
}
